<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="container">
        {{{body}}}
    </div>
    <footer> &copy; 2020. expressjs-mega-tutorial </footer>
</body>
</html>
