<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{#if title }}
        <title> {{title}} </title>
    {{else}}
        <title> express mega tutorial </title>
    {{/if}}
</head>
<body>
    <div> Microblog: 
        <a href="/"> Home </a> 
        <a href="/about"> About </a> 
    </div>
    <hr> 
    <div class="container">
        {{{body}}}
    </div>
    <footer> &copy; 2020. expressjs-mega-tutorial </footer>
</body>
</html>
